{% extends 'main_app/mainPage.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'list_clubs' %}"> &#8592; Liste des clubs</a>
            <hr>
            <h3 style="text-align: center">Détails du club</h3>
            <hr>
            <img class="rounded-circle profile-pic" src="{{ club.fk_account.picture.url }}">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Suivre" name="follow">
                {% if not my_poste %}
                <input class="btn btn-primary" type="submit" value="S'affilier comme joueur" name="affiliate_player">
                {% endif %}                
                <input class="btn btn-primary" type="submit" value="S'affilier comme entraineur" name="affiliate_coach">
            </form>
        </div>
    </div>
</div>
{% endblock content %}