{% extends 'main_app/mainPage.html' %}

{% block content %}
{% for club in list_clubs %}
<article class="media border p-3 m-3" style="background: #dedede; border-radius: 50px">
    <img class="rounded-circle mr-3 mt-3" src="{{ club.fk_account.picture.url }}"
        style="width: 100px;height: 100px;">

    <div class="media-body">
        <h2 class="article-title">{{ club.fk_account.firstname }}</h2>
    </div>

    {% if club not in my_clubs %}
    <a class="btn btn-outline-primary mr-sm-2" href="{% url 'details_club' club.id %}">Détails</a>
    {% endif %}
</article>
{% endfor %}
{% endblock content %}