{% extends 'main_app/mainPage.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Page d'accueil</a>
            <hr>
            <h3 style="text-align: center">Paramètres du compte</h3>
            <hr>
            <img class="rounded-circle profile-pic" src="{{ request.user.account.picture.url }}">

        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_account|crispy }}
                <input class="btn btn-primary" type="submit" name="Modifier">
            </form>
        </div>
    </div>
</div>
{% endblock content %}