{% extends 'main_app/mainPage.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Rejoins nous aujourd'hui</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">S'inscrire</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<small clas="text-muted">
			Déja un compte? <a clas="ml-2" href="/login">Connecte toi</a>
		</small>
	</div>
</div>
{% endblock content %}