{% extends 'main_app/mainPage.html' %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Confirmation de suppression d'une actualité</legend>
			<p>Etes-vous sûr de vouloir supprimer l'actualité " {{ actu }} "</p>
			<a href="{% url 'home' %}">Cancel</a>
			<button class="btn btn-outline-info mr-sm-2" type="submit">Confirmer</button>
		</fieldset>
	</form>
</div>
{% endblock content %}