{% extends 'main_app/mainPage.html' %}

{% block content %}
{% if request.user.account.statut == 'Club' %}
<a class="btn btn-primary" href="{% url 'create_actu' %}" style="width: 100%;font-size: 24px;">Ajouter une nouvelle
    actualité</a>
{% endif %}

{% for actu in actuality_list %}
<article class="media border p-3 m-3" style="background: #dedede; border-radius: 50px">
    <img class="rounded-circle mr-3 mt-3" src="{{ actu.fk_club.fk_account.picture.url }}"
        style="width: 100px;height: 100px;">

    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted mr-auto">Posté par {{ actu.fk_club.fk_account.fk_user.first_name }} le {{ actu.date_posted }}</small>
            {% if actu.statut == "Information" %}
            <span class="badge badge-pill badge-info mr-3 ml-3">{{actu.statut}}</span>
            {% elif actu.statut == "Fete" %}
            <span class="badge badge-pill badge-warning mr-3 ml-3">{{actu.statut}}</span>
            {% else %}
            <span class="badge badge-pill badge-success mr-3 ml-3">{{actu.statut}}</span>
            {% endif %}
        </div>
        <h2><a class="article-title" href="{% url 'update_actu' actu.id %}">{{ actu.title }}</a></h2>
        <p class="article-content">{{ actu.content }}</p>
    </div>


    {% if request.user.account.statut == 'Club' %}
    <a class="btn btn-outline-danger mr-sm-2" href="{% url 'delete_actu' actu.id %}">Supprimer</a>
    {% endif %}
</article>
{% endfor %}
{% endblock content %}