{% extends 'main_app/mainPage.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Détails de l'actualité</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info mr-sm-2" type="submit">Mise à jour</button>
		</div>
	</form>
</div>
{% endblock content %}