{% load static %}

<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="{% static 'images/Logo.PNG' %}" class="rounded-circle">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Page d'accueil</a>
          </li>
          {% if clubs %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ selected_club.fk_account.firstname }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for club in clubs %}
              <li>
                <a class="dropdown-item" href="{% url 'home' club.id %}">{{ club.fk_account.firstname }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if request.user.account.statut != 'Club' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_clubs' %}">Rejoindre</a>
          </li>
          {% endif %}
        </ul>

        <div class="form-inline my-2 my-lg-0">
          <a class="nav-link mr-sm-2" href="{% url 'profile' %}"><i class="fas fa-user"></i>{{ pseudo }}</a>
          <a class="btn btn-outline-success" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>