{% extends 'main_app/mainPage.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Connexion</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mt-4 mb-2">
            <button class="btn btn-outline-info" type="submit">Se connecter</button>
        </div>
    </form>

    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}

    <div class="border-top pt-3">
        <small class="text-muted">
            Besoin d'un compte? <a class="ml-2" href="{% url 'register_user' %}">S'inscrire maintenant</a>
        </small>
    </div>
</div>
{% endblock content %}